In [1]:
#Strings
name = "John Smith"
age = "25"

#Strings on multiple lines
statement = '''Hello everyone. 
This is John Smith. 
Have a great day!'''

print(name)
print(age)
print(statement)

John Smith
25
Hello everyone.
This is John Smith.
Have a great day!

In [2]:
# Concatenate strings
string1 = "Hello"
string2 = "everyone!"
statement = string1 + ' ' + string2
print(statement)

Hello everyone!

In [3]:
# Tuples
name_tuple = ('John', 'Tom')
age_tuple = (25, 30)
name_and_age_tuple = ('John', 'Tom', 25, 30)
print(name_tuple)
print(age_tuple)
print(name_and_age_tuple)

('John', 'Tom')
(25, 30)
('John', 'Tom', 25, 30)

In [4]:
# Tuples are immutable
name_tuple[1] = 'Bob'

TypeError: 'tuple' object does not support item assignment

In [5]:
#Lists
name_list = ['John', 'Tom']
age_list = [25, 30]
name_and_age_list = ['John', 'Tom', 25, 30]
print(name_list)
print(age_list)
print(name_and_age_list)

['John', 'Tom']
[25, 30]
['John', 'Tom', 25, 30]

In [ ]:
#Lists are mutable
name_list[1] = 'Bob'
print(name_list)

In [ ]:
#Dictionaries
person = {'name': 'John Smith', 'age': 25}
print("The person's name is: " + person['name'] + " and their age is:", person['age'])

In [ ]:
#Dictionaries are mutable
person['age'] = 30
print("The person's name is: " + person['name'] + " and their age is:", person['age'])

In [ ]:
#Casting: converting a variable of one type to another
num1_as_string = '2'
num2 = 5
print(type(num1_as_string))
print(type(num2))
summation = num1_as_string + num2

In [ ]:
print(type(int(num1_as_string)))

summation = int(num1_as_string) + num2
print(summation)